* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .container {
  display: flex;
  flex-direction: column;
}

body .container .upbox {
  display: flex;
  flex-direction: row;
}

body .container .downbox {
  display: flex;
  flex-direction: row;
}

body .container .section {
  width: 50vw;
  height: 50vh;
  background-color: aquamarine;
  border: 2px solid brown;
}
